LLM_SERVICE_ENDPOINT=
LLM_SERVICE_API_KEY=
LLM_SERVICE_PLANNING_MODEL_NAME=
LLM_SERVICE_GENERAL_MODEL_NAME=
NAMESPACE="sam/"
SOLACE_BROKER_URL="ws://localhost:8080"
SOLACE_BROKER_VPN="default"
SOLACE_BROKER_USERNAME="default"
SOLACE_BROKER_PASSWORD="default"
SOLACE_DEV_MODE="false"
SESSION_SECRET_KEY="please_change_me_in"
FASTAPI_HOST="0.0.0.0"
FASTAPI_PORT="8000"
FASTAPI_HTTPS_PORT="8443"
